
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
body {
  padding-top: 133px;
  padding-bottom: 30px;
}
a {
    color: #30739c;
}
.masthead {
    background: #fff;
}
.masthead h1 {
    display: inline-block;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    margin-left: 20px;
    height: 33px;
    line-height: 33px;
    font-size: 21px;
    color: #264d69;
}
.navbar {
    margin: 0;
    border-radius: 0;
    border: none;
}
.navbar-brand {
    width: 136px;
    height: 33px;
    background: url(../images/openstack-logo.png) no-repeat;
    display: block;
    padding: 0;
    margin: 20px 0;
}
.navbar-inverse {
    background: #edf2f7;
    border: none;
    padding: 10px 0;
}
.navbar-inverse .navbar-nav>li>a {
    color: #486278;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    margin-right: 10px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background: #fff;
    box-shadow: none;
    color: #486278;
}
.navbar-inverse .navbar-nav>li>a:focus {
    color: #486278;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background: #fff;
    color: #486278;
}
.filters #supported-by {
    margin-right: 20px;
}
.form-inline label {
    margin-right: 3px;
}
.table th {
    font-weight: 400;
    color: #30739c;
}
.table tr td:first-child {
    font-weight: 700;
}
.table tr td:last-child {
    white-space: nowrap;
}
.content {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 25px 0;
}
.btn {
    border-radius: 0;
}
a.details {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9em;
}
a.details i {
    background: #30739c;
    color: #fff;
    display: inline-block;
    padding: 2px 3px;
    border-radius: 4px;
}
.bluebox .inner {
    background-color: #edf2f7;
    padding: 20px;
     margin: 20px 0;
}
.bluebox h2 {
    margin-top: 0;
    color: #3597da;
    font-size: 24px;
}
.bluebox img {
    margin: 20px auto;
    text-align: center;
}
.featured {
}
.featured .inner {
    padding: 15px;
    border: 1px #ccc solid;
    border-radius: 4px;
    text-align: center;
    margin: 20px 0;
}
.featured img {
    max-width: 100%;
    margin-bottom: 10px;
}
.featured .inner p {
    margin-bottom: 0;
    font-size: .9em;
}
.pluginbox {
    background-color: #edf2f7;
    padding: 20px;
    margin: 20px 0;
}
.pluginbox .lbl {
    text-align: center;
}
.title div {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    font-weight: 700;
}
.title {
    text-align: left;
    color: #fff;
    background: #3597da;
    border: none;
}
h1 { 
    color: #2A4E68;
    font-weight: 300;
    font-size: 28px;
}
.featured .glance {
    background: url(../images/featured-corner-glance.png) no-repeat;
    background-position: top right;
}
.featured .heat {
    background: url(../images/featured-corner-heat.png) no-repeat;
    background-position: top right;
}
.featured .murano {
    background: url(../images/featured-corner-murano.png) no-repeat;
    background-position: top right;
}
.filters {
    z-index: 1;
    position: relative;
}
.navbar-fixed-top {
    z-index: 2;
}
.dataTables_wrapper {
    z-index: 0;
    top: -27px;
}
.dataTables_length {
    float: right !important;
}
.dataTables_filter {
    margin: 0 20px 20px 0;
}
.dataTables_filter input {
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.ui-widget-overlay {
    background-image: none !important;
    background: #000 !important;
    opacity: 0.6 !important;
}
.ui-dialog-titlebar {
    display: none;
}
.ui-dialog h2 {
    margin-top: 0;
    color: #30739c;
}
.ui-dialog h3 {
    color: #2a4e68;
}
.ui-widget-content {
    background-image: none !important;
}
.ui-state-default {
    background: none !important;
    border: 1px solid #999 !important;
    color: #666 !important;
}
.label {
    font-size: 100% !important;
    color: #000 !important;
}
.masthead h1 a:active, .masthead h1 a:focus {
    text-decoration: none;
}
.form-group {
    margin-left: 15px;
}
input[type=text] {
    width: 250px;
}

table.assets {
    width: 100%;
}
table.assets thead tr td {
    font-weight: bold;
}
table.assets td {
    border-top: 1px solid #ddd;
    vertical-align: top;
    padding: 7pt 3pt;
}
table.assets tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
table.metadata tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
div.xhr_error {color: red;}

form[name=artifactForm] td { padding: 1px; border: 1px solid; border-color: white; background-color: #eee;}
form[name=artifactForm] input {width: 100%; }
form[name=artifactForm] textarea {width: 100%; }
