<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="OpenStack market place" />
    <meta name="keywords" content="openstack, glance images, heat templates, murano applications" />
    <meta name="author" content="Mirantis on behalf of OpenStack Foundation" />

    <title>Community App Catalog</title>

    <link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.jsdelivr.net/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom styles for this template -->
    <link href="static/css/theme.css" rel="stylesheet" type="text/css" />
    <link href="http://cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/jquery.datatables/1.10.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="http://cdn.jsdelivr.net/select2/3.5.2/select2.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
       </head>

  <body role="document">

    <!-- Google Tag Manager -->
    <noscript><iframe src="http://www.googletagmanager.com/ns.html?id=GTM-K2J65K"
		      height="0" width="0"
		      style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var
      f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K2J65K');</script>
    <!-- End Google Tag Manager -->

    <!-- Fixed navbar -->
    <div class="masthead navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="https://www.openstack.org" target="_blank"></a>
	<h1><a href="#">Community App Catalog <sup><small>&beta;</small></sup></a></h1>
      </div>

      <nav class="navbar navbar-inverse">
	<div class="container">
          <div class="navbar-collapse collapse">
            <ul id="navbar" class="nav navbar-nav">
              <li><a href="#murano-apps">Murano packages</a></li>
              <li><a href="#heat-templates">Heat Templates</a></li>
              <li><a href="#glance-images">Glance Images</a></li>
            </ul>
          </div>
	</div>
      </nav>

    </div>

    <div class="container" role="main">

      <!-- Main jumbotron for a primary marketing message or call to
      action -->

      <div id="landing-page" class="content" style="display:none">

        <h1>The OpenStack Application Catalog will help you make applications available on your cloud. </h1>
	<div class="row featured">

          <div class="col-md-2 col-sm-6">
            <div class="inner title">
              <div>Featured Apps</div>
              <p>(Requires OpenStack)</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="inner murano">
              <a href="#tab=murano-apps&asset=Kubernetes%20Cluster">
                <img src="static/images/logo-kubernetes.png">
                <p>Kubernetes</p>
              </a>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="inner murano">
              <img src="static/images/logo-redis.png">
              <p>Redis</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="inner glance">
              <img src="static/images/logo-pivotal.png">
              <p>Pivotal Cloud Foundry Dev Environment</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="inner glance">
              <img src="static/images/logo-lamp.png">
              <p>LAMP Dev Environment</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6">
            <div class="inner heat">
              <img src="static/images/logo-wordpress.png">
              <p>Wordpress</p>
            </div>
          </div>
	</div>
        <p><strong>Don't have OpenStack yet?</strong></p>
        <p>Get over to the <a href="https://www.openstack.org/marketplace/" target="_blank">OpenStack Marketplace</a> and find the best way to build your cloud. Once you have a cloud come back to the OpenStack Application Catalog to make your cloud sing with applications.</p>

        <div class="row">

          <div class="col-md-4 bluebox">
            <div class="inner">
              <a href="#tab=murano-apps">
                <h2>Murano Packages</h2>
                <img src="static/images/murano-diagram.png">
              </a>
              <p>
                In Murano Packages you will find complete
                applications, simple and clustered, ready to deploy
                into your cloud. To use them:
              </p>
              <ol>
                <li>Verify that you have Murano installed</li>
                <li>Browse the list and find the app package you want</li>
                <li>Copy the name of the app package</li>
                <li>In Horizon navigate to Murano &gt; Manage &gt; Package Definitions and click Import Package</li>
		<li>Paste the app package name, and click Next</li>
		<li>You can now deploy the app into your cloud using Horizon, by navigating to Application Catalog &gt; Environments, creating and deploying that environment.</li>
	      </ol>
	    </div>
	  </div>

	  <div class="col-md-4 bluebox">
	    <div class="inner">
              <a href="#tab=heat-templates">
	        <h2>Heat Templates</h2>
	        <img src="static/images/heat-diagram.png"
                     class="text-center">
              </a>
	      <p>
                In Heat Templates you will find templates for creating
                complete stacks in your cloud. To use them:
              </p>
	      <ol>
                <li>Browse the list and find the one you want</li>
                <li>Download the template yaml file to your local machine</li>
                <li>Use Horizon to add the template to Heat </li>
                <li>Use the <a href="http://docs.openstack.org/cli-reference/content/heatclient_commands.html" target="_blank">Heat client</a> to create a stack</li>
	      </ol>
	    </div>
	  </div>

	  <div class="col-md-4 bluebox">
	    <div class="inner">
              <a href="#tab=glance-images">
	        <h2>Glance Images</h2>
	        <img src="static/images/glance-diagram.png">
              </a>
              <br/><br/>
	      <p>
                In Glance Images you will find a library of
                preconfigured images ready to launch virtual machines
                on your cloud. To use them:
              </p>
	      <ol>
                <li>Browse the list and find the one you want</li>
                <li>Copy URL for the image file</li>
                <li>Use the <a href="http://docs.openstack.org/cli-reference/content/glanceclient_commands.html" target="_blank">Glance client</a> to add it to your cloud with the --copy-from option, or add the image from Horizon by specifying the URL as the image location.</li>
                <li>Use Nova to launch a vm from the new image
                </li>
	      </ol>
	    </div>
	  </div>

	</div>

	<div class="row">
	  <p><strong>Contributing to the OpenStack Application Catalog</strong></p>
	  <p>
	    The application catalog is built from the YAML files found in the
	    <a href="https://github.com/stackforge/apps-catalog" target="_blank">repository</a>.
	    Consistent with other OpenStack projects, additions to the
	    catalog take the form of git commits which are reviewed with Gerrit
	    prior to being merged.  Detailed instructions for adding to
	    the YAML files can be found on the
	    <a href="https://wiki.openstack.org/wiki/App-Catalog" target="_blank">
	      OpenStack wiki</a>.
	  </p>
	</div>

      </div>


      <div id="glance-images" class="content" style="display:none">

	<div class="row">
	  <div class="col-md-6 filters">
            &nbsp;
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-12">
	    <table id="glance-images-table" class="table table-striped">
              <thead>
		<tr>
		  <th>Image&nbsp;Name</th>
		  <th>Description</th>
		  <th>Format</th>
		</tr>
              </thead>
	    </table>
	  </div>
	</div>

      </div>

      <div id="heat-templates" class="content" style="display:none">

	<div class="row">
	  <div class="col-md-6 filters">
	    <form class="form-inline">
              <div class="form-group">
		<label>Release</label>
		<input type="hidden" id="heat-release"
		       style="width:10em" data-placeholder="Any release"/>
              </div>
	    </form>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-12">
	    <table id="heat-templates-table" class="table table-striped">
              <thead>
		<tr>
		  <th>Template&nbsp;Name</th>
		  <th>Description</th>
		  <th>Release</th>
		  <th>Format</th>
		</tr>
              </thead>
	    </table>
	  </div>
	</div>

      </div>

      <div id="murano-apps" class="content" style="display:none">

	<div class="row">
	  <div class="col-md-6 filters">
	    <form class="form-inline">
              <div class="form-group">
		<label>Release</label>
		<input type="hidden" id="murano-release"
		       style="width:10em" data-placeholder="Any release"/>
              </div>
	    </form>
	  </div>
	</div>

	<div class="row">
	  <div class="col-md-12">
	    <table id="murano-apps-table" class="table table-striped">
              <thead>
		<tr>
		  <th>Package&nbsp;Name</th>
		  <th>Description</th>
		  <th>Release</th>
		  <th>Format</th>
		</tr>
              </thead>
	    </table>
	  </div>
	</div>

      </div>

      <div id="info-page" class="content">
	<div class="row">
	  <div class="col-md-12">
	    <div id="info-content"></div>
	  </div>
	</div>
      </div>

      <div id="info-dialog" title="Details">
	<div id="info-container"></div>
      </div>

    </div>

    <!-- core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.datatables/1.10.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/select2/3.5.2/select2.min.js"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.timeago/1.4.1/jquery.timeago.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.6.0/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.2.7/js-yaml.min.js"></script>

    <script type="text/javascript" src="static/js/apps-catalog.js"></script>

    <script type="text/javascript">
      $(function() { initMarketPlace (); });
      $(document).ready(function () { ; } );
    </script>

    <script id="glance-images-info" type="text/x-jquery-tmpl">

      <h2>${name} (${format})</h2>
      {{if supported_by}}
      <div><span class="label">Supported by</span> <span class="value">${supported_by}</span></div>
      {{/if}}
      <div><span class="label">Description:</span> <span class="value">${description}</span></div>

      <h3>Author</h3>
      <div><span class="label">Contact:
	</span><a href="${provided_by.href}"> <span class="value">${provided_by.name}</span> </a></div>
      <div><span class="label">Company:</span> <span class="value">${provided_by.company}</span></div>

      {{if attributes }}
      <h3>Attributes</h3>
      {{each( key, value ) attributes }}
      <div><span class="label">${key}:</span> <span class="value">${value}</span></div>
      {{/each}}
      {{/if}}

    </script>

    <script id="heat-templates-info" type="text/x-jquery-tmpl">

      <h2>${name} (${format})</h2>
      {{if supported_by}}
      <div><span class="label">Supported by</span> <span class="value">${supported_by}</span></div>
      {{/if}}
      <div><span class="label">Description:</span> <span class="value">${description}</span></div>
      <div><span class="label">Available in Releases:</span> <span class="value">${release_html}</span></div>

      <h3>Author</h3>
      <div><span class="label">Contact:
	</span><a href="${provided_by.href}"> <span class="value">${provided_by.name}</span> </a></div>
      <div><span class="label">Company:</span> <span class="value">${provided_by.company}</span></div>

      {{if attributes }}
      <h3>Attributes</h3>
      {{each( key, value ) attributes }}
      <div><span class="label">${key}:</span> <span class="value">${value}</span></div>
      {{/each}}
      {{/if}}

    </script>

    <script id="murano-apps-info" type="text/x-jquery-tmpl">

      <h2>${name} (${format})</h2>
      <div>
	<span class="label">Package name:</span>
	<input type="text" value="${package_name}" onfocus="this.select();" onmouseup="return false;">
      </div>

      <h3>Description</h3>
      <div><span class="value">${description}</span></div>

      <h3>Supported OpenStack Releases</h3>
      <div><span class="value">${release_html}</span></div>

      {{if supported_by}}
      <h3>Support</h3>
      <div><span class="label">Supported by:</span> <span class="value">${supported_by}</span></div>
      {{/if}}

      <h3>Author</h3>
      <div><span class="label">Contact:	</span><a href="${provided_by.href}"> <span class="value">${provided_by.name}</span> </a></div>
      <div><span class="label">Company:</span> <span class="value">${provided_by.company}</span></div>

      {{if dependsOn }}
      <h3>Depends On</h3>
      <p>Package may depend on image and on other packages, during import of
      this package to Murano following dependencies will be also downloaded
      and imported, but existing entries will not be overwritten.</p>
      {{if dependsOn.image }}
      Base Image: <a href="${dependsOn.image.uri}">${dependsOn.image.name}</a><br />
      {{/if}}
      {{if dependsOn.apps }}
      Dependencies:
      <ul>
         {{each dependsOn.apps }}
         <li>${dependsOn.apps[$index]}</li>
         {{/each}}
      </ul>
      {{/if}}
      {{/if}}

      {{if attributes }}
      <h3>Attributes</h3>
      {{each( key, value ) attributes }}
      <div><span class="label">${key}:</span> <span class="value">${value}</span></div>
      {{/each}}
      {{/if}}

    </script>
  </body>
</html>
