{% load compress %}

{% compress js %}
<script src="{{ STATIC_URL }}lib/angular/angular.js" type='text/javascript' charset="utf-8"></script>
<script src="{{ STATIC_URL }}lib/angular/angular-animate.js" type='text/javascript' charset="utf-8"></script>
<script src="{{ STATIC_URL }}lib/magic_search/magic_search.js" type='text/javascript' charset="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}apps/manage-glare-assets/js/glareassets.module.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}apps/manage-glare-assets/js/glareassets.assettypes.factory.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}apps/manage-glare-assets/js/glareassets.typeslist.controller.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}apps/manage-glare-assets/js/glareassets.addasset.controller.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}apps/manage-glare-assets/js/glareassets.releases.controller.js"></script>

{% endcompress %}
