<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <meta name="description" content="OpenStack market place" />
    <meta name="keywords" content="openstack, glance images, heat templates, murano applications, tosca templates, tosca csar" />
    <meta name="author" content="Mirantis on behalf of OpenStack Foundation" />

    <title>Community App Catalog</title>

    <link href="/static/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script type="text/javascript">
      var GLARE_URL = '{{GLARE_URL}}';
      var LAUNCHPAD_ADMIN_GROUPS = ['{{LAUNCHPAD_ADMIN_GROUPS|join:"','"}}'];
    </script>

{% include "_scripts.html" %}
{% verbatim %}
    <!-- Bootstrap core CSS -->
    <link href="//cdn.jsdelivr.net/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom styles for this template -->
    <link href="static/css/theme.css" rel="stylesheet" type="text/css" />
    <link href="//cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/cupertino/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.datatables/1.10.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/select2/3.5.2/select2.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body role="document" ng-app="AppCatalog">

    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K2J65K"
              height="0" width="0"
              style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var
      f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-K2J65K');</script>
    <!-- End Google Tag Manager -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-17511903-16', {'allowAnchor': true});
      ga('send', 'pageview', { 'page': location.pathname + location.search + location.hash});
    </script>
    <!-- Fixed navbar -->
    <div class="masthead navbar-fixed-top">

        <div class="container">
        <a class="navbar-brand" href="https://www.openstack.org" target="_blank"></a>
    <h1><a href="#/">Community App Catalog <sup><small>[beta]</small></sup></a></h1>
 <a href="https://wiki.openstack.org/wiki/App-Catalog#FAQ" target="_blank" class="btn btn-default pull-right">FAQ</a>
 <a ng-if="!logged_in" href="/auth/login" class="btn btn-default pull-right">Login</a>
 <a ng-if="logged_in" href="/auth/logout" class="btn btn-default pull-right">Logout ({{auth_info.fullname}})</a>
      </div>

      <nav class="navbar navbar-inverse">
    <div class="container">
          <div class="navbar-collapse collapse">
            <ul id="navbar" class="nav navbar-nav">
              <li><a href="#/list/public/murano_packages/">Murano packages</a></li>
              <li><a href="#/list/public/heat_templates/">Heat templates</a></li>
              <li><a href="#/list/public/images/">Glance images</a></li>
              <li><a href="#/list/public/tosca_templates/">TOSCA templates</a></li>
            </ul>
          </div>
    </div>
      </nav>

    </div>

    <h1 class="error" align=center ng-show="error" style="border: 1px solid red;">error: {{error}}</h1>

    <div class="container" ng-view ng-cloak></div>

  </body>
{% endverbatim %}
</html>
