<form name="asset_form" ng-submit="assetSubmit()" ng-controller="addAssetController">
    Name: <input type="text" ng-model="asset.name" requiredd><br />
    Version: <input type="text" ng-model="asset.version" requiredd><br />
    Asset Type:
    <select id="assetAddTypeSelector" ng-model="assetTypes.selected"
            ng-options="assetType.name for assetType in assetTypes.types track by assetType.name"
            >
    </select>

    <br />
    Supported by:<br />
    name:<input type="text" ng-model="asset.supported_by.name" requiredd /><br />
    email:<input type="email" ng-model="asset.supported_by.href" requiredd /><br />
    company:<input type="text" ng-model="asset.supported_by.company" /><br />
    irc handle:<input type="text" ng-model="asset.supported_by.irchandle" /><br />

    <br />
    Provided by:<br />
    name:<input type="text" ng-model="asset.provided_by.name" requiredd /><br />
    email:<input type="email" ng-model="asset.provided_by.href" requiredd /><br />
    company:<input type="text" ng-model="asset.provided_by.company" /><br />
    irc handle:<input type="text" ng-model="asset.provided_by.irchandle" /><br />

    <br />
    Depends:<input type="text" ng-model="asset.depends" /><br />

    <br />
    Release:<br />
    <div ng-controller="releasesController">
    <label ng-repeat="(release,enabled) in releases">
      <input type="checkbox" ng-model="asset.releases[release]">{{release}}<br/>
    </label>
    <div>

    <br />
    Icon:<br />
    top:<input type="number" ng-model="asset.icon.top" min="0" requiredd /><br />
    left:<input type="number" ng-model="asset.icon.left" min="0" requiredd /><br />
    height:<input type="number" ng-model="asset.icon.height" min="0" requiredd /><br />
    url:<input type="url" ng-model="asset.icon.url" requiredd /><br />

    <br />
    License:<textarea ng-model="asset.license"
                      ng-pattern="/^(GPL .*)|(Apache .*)|(BSD .*)|(MIT)|(Free <= [0-9]+ (Users|Nodes))|(Multi-licensed OpenSource)|(Other)|(Unknown)$/"
                      name="license" rows="7" cols="50"
                      requiredd></textarea>
    <span ng-show="asset_form.license.$error.pattern">Wrong license pattern!</span><br />
    license url:<input type="url" ng-model="asset.license_url" /><br />

    <br />
    File:<input type="file" id="file" name="file" requiredd /><br />

    <br />
    Active:<input type="checkbox" ng-model="asset.active" /><br />
    Description:<input type="text" ng-model="asset.description" /><br />
    Tags:<input type="text" ng-model="asset.tags" /><br />


    <!-- Additional fields for different types of assets -->
    <div ng-switch on="assetTypes.selected.type">
        <div ng-switch-when="glance_images">
            <h4>Glance additional</h4>
            Container format
            <select ng-options="format for format in ['ami', 'ari', 'aki', 'bare', 'ovf']"
                    ng-model="asset.glance_images.container_format"
                    ng-init="asset.glance_images.container_format='ami'">
            </select><br />
            Disk format
            <select ng-options="format for format in ['ami', 'ari', 'aki',
                                                      'vhd', 'vdmk', 'raw', 'qcow2', 'vdi', 'iso']"
                    ng-model="asset.glance_images.disk_format"
                    ng-init="asset.glance_images.disk_format='ami'">
            </select><br />
            Min ram
            <input type="number" ng-model="asset.glance_images.min_ram" ng-init="glance.min_ram=0"
                   min="0" max="10"/><br />
            Max ram
            <input type="number" ng-model="asset.glance_images.max_ram" ng-init="glance.max_ram=0"
                   min="0" max="10"/><br />
        </div>

        <div ng-switch-when="heat_templates">
            <h4>Heat additional</h4>
            Environment
            <input type="text" ng-model="asset.heat_templates.environment" requiredd /><br />
            Template version
            <select ng-options="date for date in ['2013-05-23', '2014-10-16', '2015-04-30', '2015-10-15']"
                    ng-model="asset.heat_templates.template_version"
                    ng-init="asset.heat_templates.template_version='2013-05-23'">
            </select>
        </div>

        <div ng-switch-when="murano_packages">
            <h4>Murano additional</h4>
            Fully qualified name
            <input type="text" ng-model="asset.murano_packages.fqn" requiredd /><br />
            Package type
            <select ng-options="type for type in ['Application', 'Library']"
                    ng-model="asset.murano_packages.package_type"
                    ng-init="asset.murano_packages.package_type='Application'">
            </select>
        </div>

        <div ng-switch-when="tosca_templates" name="tosca_templates">
            <h4>Tosca additional</h4>
            Template version
            <select ng-options="type for type in ['yaml', 'csar']"
                    ng-model="asset.tosca_templates.template_format"
                    ng-init="asset.tosca_templates.template_format='yaml'">
            </select><br />
            Ever mins array
            <input type="text" name="tosca_ever_mins" ng-model="asset.tosca_templates.ever_mins" ng-pattern="/^\d* \d* \d*$/"/>
            <span ng-show="asset_form.tosca_ever_mins.$error.pattern">Three integers with space separator</span>
            <br />
            Ever maxs array
            <input type="text" name="tosca_ever_maxs" ng-model="asset.tosca_templates.ever_maxs" ng-pattern="/^\d* \d* \d*$/"/>
            <span ng-show="asset_form.tosca_ever_maxs.$error.pattern">Three integers with space separator</span>
            <br />
        </div>

        <div ng-switch-when="bundles">

        </div>

    </div>

    <input type="submit" id="submit-asset" value="Submit" />
</form>
